@model IEnumerable<Brief_Bibliotheque.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrateur") || User.IsInRole("Employé"))
    {
        <a asp-action="Create">Insérer nouveau Genre</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomGenre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomGenre)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Détails</a>
                    @if (User.IsInRole("Administrateur") || User.IsInRole("Employé"))
                    {
                        <span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editer</a>
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
