@model Brief_Bibliotheque.Models.Classes.Livre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnneePublication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneePublication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstEmprunte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstEmprunte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstReserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstReserve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstDisponible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auteurs)
        </dt>
        <dd class="col-sm-10">
            @foreach (var auteur in Model.Auteurs)
            {
                <span> @auteur.Nom @auteur.Prenom </span>
                <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @foreach (var auteur in Model.Genres)
            {
                <span> @auteur.NomGenre </span>
                <br />
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
