@model IEnumerable<Brief_Bibliotheque.Models.Classes.Livre>

@{
    ViewData["Title"] = "Livres";
}

<h1>Livres</h1>

<p>
    <a asp-action="Create">Insérer un nouveau livre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneePublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstEmprunte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstReserve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auteurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnneePublication)
                </td>
                <td>
                    @switch (item.Etat)
                    {
                        case "Neuf":
                            <p class="badge bg-success">Neuf</p>
                            break;
                        case "Bon":
                            <p class="badge bg-info">Bon</p>
                            break;
                        case "Usé":
                            <p class="badge bg-secondary">Usé</p>
                            break;
                        case "Dégradé":
                            <p class="badge bg-danger">Dégradé</p>
                            break;
                        default:
                            break;
                    }
                </td>
                <td>
                    @if (item.EstEmprunte)
                    {
                        <p class="text-danger">Emprunté</p>
                    }
                    else
                    {
                        <p class="text-secondary">Non emprunté</p>
                    }
                </td>
                <td>
                    @if (!item.EstReserve)
                    {
                        <p class="text-secondary">Non réservé</p>
                    }
                    else
                    {
                        <p class="text-danger">Réservé</p>
                    }
                </td>
                <td>
                    @if (item.EstDisponible)
                    {
                        <p class="text-success">Disponible</p>
                    }
                    else
                    {
                        <p class="text-danger">Indisponible</p>
                    }
                </td>
                <td>
                    @string.Join(", ", item.Auteurs.Select(a => a.Prenom + " " + a.Nom))
                </td>
                <td>
                    @string.Join(", ", item.Genres.Select(g => g.NomGenre))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
