@model IEnumerable<Brief_Bibliotheque.Models.Classes.Emprunt>

@{
    ViewData["Title"] = "Emprunts";
}

<h1>Emprunts</h1>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-secondary">Tous les emprunts</a>
    <a asp-action="Index" asp-route-enCours="true" class="btn btn-warning">En cours</a>
    <a asp-action="Index" asp-route-enCours="false" class="btn btn-success">Terminés</a>
</div>

<p>
    <a asp-action="Create">Nouvel emprunt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateEmprunt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstRendu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetourEmprunt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLivre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre!.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilisateur!.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEmprunt)
                </td>
                <td>
                    @if (item.EstRendu)
                    {
                        <p class="badge bg-black">Terminé</p>
                    }
                    else
                    {
                        <p class="badge bg-danger">En cours</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetourEmprunt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLivre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Livre!.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUtilisateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilisateur!.Nom)
                </td>
                <td>

                    @if (!item.EstRendu)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Prolonger l'emprunt</a> <span>|</span>
                        <a asp-action="Rendre" asp-route-id="@item.Id">Emprunt rendu</a> <span>|</span>
                    }

                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
