@model IEnumerable<Brief_Bibliotheque.Models.Classes.UtilisateurViewModel>
@using Brief_Bibliotheque.Models.Classes.Enums

@{
    ViewData["Title"] = "Membres";
}

<h1>Liste des Membres</h1>

<p>
    <a asp-action="Create">Insérer un nouveau membre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeRue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomDeRue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodePostal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @switch (item.Role)
                    {
                        case Role.Membre:
                            <p class="badge bg-success">Membre</p>
                            break;
                        case Role.Employé:
                            <p class="badge bg-primary">Employé</p>
                            break;
                        case Role.Administrateur:
                            <p class="badge bg-danger">Admin</p>
                            break;
                        default:
                            break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDeNaissance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Tel))
                    {
                        @item.Tel
                    }
                    else
                    {
                        <p class="text-danger fw-bold">Pas de numéro!</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDeRue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomDeRue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodePostal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
